.fondo-principal{
    background: #757FB2;
}

.encabezado{
    position: absolute;
    left: 49%;
    top: 5%;
}

.encabezado img{
    width: 50px;
}


.area-texto input{
    width: 35%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 10%;
    text-align: justify;
    border-radius: 24px;
    padding: 5px;
}

.area-texto h6{
    position: absolute;
    top: 81%;
    left: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.mostrar{
    background:#0A3871;
    width: 35%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 55%;
    border-radius: 24px;
    text-align: center;
    color: white;
    padding: 5px;
}

.botones-principales {
    position: absolute;
    display: flex;
    top: 85%;
    left: 10%;
    width: 35%;
}

#boton-encriptar {
    width: 40%;
    margin-right: 20%;
    padding: 3%;
    background: #0A3871;
    border-radius: 15px;
    border-color: #0A3871;
    color: white;
    font-weight: bold;
}

#boton-desencriptar {
    width: 40%;
    padding: 3%;
    border-radius: 15px;
    background: whitesmoke;
    border-color: whitesmoke;
    color: #0A3871;
    font-weight: bold;
    
}

#boton-copiar{
    position: absolute;
    top: 85%;
    left: 62%;
    width: 20%;
    padding: 1%;
    border-radius: 15px;
    background: whitesmoke;
    border-color: whitesmoke;
    color: black;
    font-weight: bold;

}

